# IDE
.idea/
.vscode/

# Logs
*.log*
yarn.lock

# Misc
example
notes/
node_modules
coverage
.nyc_output
*.xml
.DS_Store
.cache/
tmp/

# Dist
*.gz
dist/
dev/
public/build/

# Possibly sensitive data
*.csv
samples/
todo.md

# Config
.env
